In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [26]:
match = pd.read_csv("IPL_Matches_2008_2022.csv")
delivery = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")

In [27]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [35]:
match['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [36]:
match['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [37]:
match['TossWinner'].unique()

array(['Rajasthan Royals', 'Lucknow Super Giants', 'Gujarat Titans',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Chennai Super Kings',
       'Punjab Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Delhi Capitals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [38]:
match['WinningTeam'].unique()

array(['Gujarat Titans', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Punjab Kings', 'Mumbai Indians',
       'Lucknow Super Giants', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Chennai Super Kings', 'Kings XI Punjab',
       nan, 'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [39]:
match = match.replace('Delhi Daredevils','Delhi Capitals')

match = match.replace('Rising Pune Supergiant','Lucknow Super Giants')
match = match.replace('Rising Pune Supergiants','Lucknow Super Giants')
match = match.replace('Kochi Tuskers Kerala','Lucknow Super Giants')

match = match.replace('Pune Warriors','Gujarat Titans')
match = match.replace('Gujarat Lions','Gujarat Titans')

match = match.replace('Kings XI Punjab','Punjab Kings')

match = match.replace('Deccan Chargers','Sunrisers Hyderabad')
match = match.replace('Gujarat Lions','Gujarat Titans')

---

In [49]:
match['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [34]:
match = match.replace('Bangalore','Bengaluru')
match = match.replace('Visakhapatnam','Bengaluru')


match = match.replace('Indore','Lucknow')
match = match.replace('Kochi','Lucknow')
match = match.replace('Kanpur','Lucknow')
match = match.replace('Nagpur','Lucknow')


match = match.replace('Pune','Ahemdabad')
match = match.replace('Rajkot','Ahemdabad')


match = match.replace('Cuttack','Chennai')
match = match.replace('Ranchi','Chennai')
match = match.replace('Raipur','Chennai')


match = match.replace('Dharamsala','Chandigarh')

match = match.replace('Navi Mumbai','Mumbai')

In [ ]:
match['City'].unique()

In [60]:
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [50]:
delivery['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Daredevils', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [51]:
delivery = delivery.replace('Delhi Daredevils','Delhi Capitals')

delivery = delivery.replace('Rising Pune Supergiant','Lucknow Super Giants')
delivery = delivery.replace('Rising Pune Supergiants','Lucknow Super Giants')
delivery = delivery.replace('Kochi Tuskers Kerala','Lucknow Super Giants')

delivery = delivery.replace('Pune Warriors','Gujarat Titans')
delivery = delivery.replace('Gujarat Lions','Gujarat Titans')

delivery = delivery.replace('Kings XI Punjab','Punjab Kings')

delivery = delivery.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery = delivery.replace('Gujarat Lions','Gujarat Titans')

In [54]:
delivery['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders'],
      dtype=object)

In [55]:
match.shape

(950, 20)

In [56]:
delivery.shape

(225954, 17)

In [57]:
totalScoreDF = delivery.groupby(['ID', 'innings']).sum()['total_run'].reset_index()

In [58]:
totalScoreDF

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [61]:
totalScoreDF = totalScoreDF[totalScoreDF["innings"] == 1]

In [62]:
matchDF = match.merge(totalScoreDF[['ID', 'total_run']], left_on = 'ID',right_on = 'ID')

In [63]:
matchDF.shape

(950, 21)

In [64]:
matchDF.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157

In [65]:
matchDF.shape

(950, 21)

In [66]:
matchDF['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [67]:
matchDF = matchDF[matchDF.method != 'D/L']

In [68]:
matchDF = matchDF[['ID','City','WinningTeam','total_run', 'Team1', 'Team2']]

In [69]:
deliveryDF = matchDF.merge(delivery, on = "ID")

In [70]:
deliveryDF = deliveryDF[deliveryDF['innings'] == 2]

In [71]:
deliveryDF['current_score'] = deliveryDF.groupby('ID').cumsum()['total_run_y']

In [72]:
deliveryDF['runs_left'] = deliveryDF['total_run_x'] - deliveryDF['current_score']

In [73]:
deliveryDF['balls_left'] = 120 - (deliveryDF['overs']*6 + deliveryDF['ballnumber'])

In [74]:
deliveryDF['wickets_left'] = 10 - deliveryDF.groupby('ID').cumsum()['isWicketDelivery'].values

In [75]:
#crr and rrr

In [76]:
deliveryDF['crr'] = (deliveryDF['current_score']*6) / (120 - deliveryDF['balls_left'])

In [77]:
deliveryDF['rrr'] = (deliveryDF['runs_left']*6) / deliveryDF['balls_left']

In [78]:
#results in 0 & 1

In [79]:
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [80]:
deliveryDF['results'] = deliveryDF.apply(result, axis = 1)

In [81]:
deliveryDF.head()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets_left,crr,rrr,results
120,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,NaN,Gujarat Titans,0,130,119,10,0.0,6.554622,1
121,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,NaN,Gujarat Titans,0,130,118,10,0.0,6.610169,1
122,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,NaN,Gujarat Titans,1,129,117,10,2.0,6.615385,1
123,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,NaN,Gujarat Titans,1,129,116,10,1.5,6.672414,1
124,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,NaN,Gujarat Titans,1,129,115,10,1.2,6.730435,1

In [82]:
#removed balls left as 0, -1, -2, -3
deliveryDF = deliveryDF[deliveryDF.balls_left != 0]
deliveryDF = deliveryDF[deliveryDF.balls_left != -1]
deliveryDF = deliveryDF[deliveryDF.balls_left != -2]
deliveryDF = deliveryDF[deliveryDF.balls_left != -3]

In [84]:
finalDF = deliveryDF[['BattingTeam','Team1', 'Team2', 'City',
            'runs_left', 'balls_left','wickets_left',
            'total_run_x','crr','rrr','results']]

In [85]:
def BowlingTeamFind(row):
    if row['Team1'] == row['BattingTeam']:
        row['BowlingTeam'] = row['Team2']
        return row['BowlingTeam']
    else:
        row['BowlingTeam'] = row['Team1']
        return row['BowlingTeam']

In [86]:
finalDF['BowlingTeam'] = finalDF.apply(BowlingTeamFind, axis = 1)

C:\Users\ASUS\AppData\Local\Temp/ipykernel_11928/857192546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalDF['BowlingTeam'] = finalDF.apply(BowlingTeamFind, axis = 1)

In [87]:
finalDF['BowlingTeam'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians'], dtype=object)

In [88]:
teams = [
    'Chennai Super Kings',
    'Delhi Capitals',
    'Royal Challengers Bangalore',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Sunrisers Hyderabad',
    'Punjab Kings',
    'Gujarat Titans',
    'Lucknow Super Giants']
finalDF = finalDF[finalDF['BowlingTeam'].isin(teams)]

In [89]:
finalDF['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [90]:
finalDF = finalDF[['BattingTeam','BowlingTeam','City',
            'runs_left', 'balls_left','wickets_left',
            'total_run_x','crr','rrr','results']]

In [91]:
finalDF = finalDF.sample(finalDF.shape[0])

In [92]:
finalDF.head()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets_left,total_run_x,crr,rrr,results
6690,Kolkata Knight Riders,Rajasthan Royals,Mumbai,67,48,8,152,7.083333,8.375000,1
203979,Royal Challengers Bangalore,Mumbai Indians,Johannesburg,6,13,9,149,8.018692,2.769231,1
118877,Sunrisers Hyderabad,Royal Challengers Bangalore,Hyderabad,92,66,10,160,7.555556,8.363636,1
192806,Chennai Super Kings,Punjab Kings,Chennai,31,35,6,136,7.411765,5.314286,0
4052,Delhi Capitals,Rajasthan Royals,Mumbai,103,71,9,160,6.979592,8.704225,1

In [93]:
# finalDF.isnull().sum()

In [94]:
finalDF.dropna(inplace = True)

In [96]:
finalDF.shape

(101293, 10)

In [97]:
X = finalDF.iloc[:,:-1]
y = finalDF.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [51]:
#converting string into usable format using onehotencoding

In [98]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder


trf = ColumnTransformer([('trf', OneHotEncoder(sparse = False, drop = 'first'),
                          ['BattingTeam','BowlingTeam','City'])],
                        remainder = 'passthrough')

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [103]:
pipe = Pipeline(steps = [('step1', trf), ('step2', LogisticRegression(solver = 'liblinear'))])

In [104]:
pipe2 = Pipeline(steps = [('step1', trf), ('step2', RandomForestClassifier(n_estimators=20))])

In [105]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [106]:
pipe2.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', RandomForestClassifier(n_estimators=20))])

In [110]:
y_pred = pipe.predict(X_test)

In [111]:
y_pred2 = pipe2.predict(X_test)

In [112]:
from sklearn.metrics import accuracy_score

In [115]:
print(accuracy_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred2))

0.7993977985093045
0.9977294042154105

In [117]:
teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Royal Challengers Bangalore',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Sunrisers Hyderabad',
 'Punjab Kings',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [116]:
finalDF['City'].unique()

array(['Mumbai', 'Johannesburg', 'Hyderabad', 'Chennai', 'Abu Dhabi',
       'Chandigarh', 'Lucknow', 'Centurion', 'Delhi', 'Durban',
       'Bengaluru', 'Ahemdabad', 'Kolkata', 'Ahmedabad', 'Jaipur',
       'Port Elizabeth', 'East London', 'Sharjah', 'Dubai', 'Cape Town',
       'Bloemfontein', 'Kimberley'], dtype=object)

In [118]:
import pickle
pickle.dump(pipe, open('pipe.pkl','wb'))